
<div class="container mx-auto clearfix col-3 sm-width-full mb-2">
  <ul class="list-reset font-smoothing px-2">
    <li class="inline-block pagination-item-prev" >
          {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
            <a class="align-middle link-primary mr-2" rel="prev" href="{{ site.baseurl }}/">← Previous</a>
        {% else %}
        <a class="align-middle link-primary mr-2" rel="prev" href="{{ site.baseurl }}/page-{{paginator.previous_page}}/">&laquo; Previous</a>
        {% endif %}
      {% else %}
      <span class="align-middle text-mute">← Previous</span>
          {% endif %}
    </li>

   <li class="inline-block">
              <span>{{ paginator.page}} / {{ paginator.total_pages }}</span>
              </li>
    
    <li class="inline-block pagination-item-next" >
          {% if paginator.next_page %}
      <a class="align-middle link-primary mr-2" rel="next" href="{{ site.baseurl }}/page-{{paginator.next_page}}/">Next →</a>
      {% else %}
      <span class="align-middle text-mute">Next →</span>
          {% endif %}
    </li>

  </ul>
</div>


{% comment %}
<div class="container mx-auto clearfix col-3 sm-width-full mb-2">
  <ul class="list-reset font-smoothing px-2">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <li>
          <a href="/">&laquo;</a>
        </li>
      {% else %}
        <li>
          <a href="/page{{paginator.previous_page}}">&laquo;</a>
        </li>
      {% endif %}
    {% else %}
      <li class="disabled">
        <a href="#">&laquo;</a>
      </li>
    {% endif %}
    {% if paginator.page == 1 %}
      <li class="active">
        <a href="#">1</a>
      </li>
    {% else %}
      <li>
        <a href="/">1</a>
      </li>
    {% endif %}
    {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
        <li class="active">
          <a href="#">{{count}}</a>
        </li>
      {% else %}
        <li>
          <a href="/page{{count}}">{{count}}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
      <li>
        <a href="/page{{paginator.next_page}}">&raquo;</a>
      </li>
    {% else %}
      <li class="disabled">
        <a href="#">&raquo;</a>
      </li>
    {% endif %}
  </ul>
</div>
{% endcomment %}
