<!-- Renders post date, title, and snippet of text. {{ post.content | strip_html | truncatewords:60 }} -->
<article class="py-2 mb-5 prose">


  <a class="no-underline h5 bold text-mute" title="{{ post.url | prepend: site.baseurl }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}</a>
  <h2 class="h1 lh-condensed col-9 mt-0">

    <a class="link-primary text-body" title="{{ post.url | prepend: site.baseurl }}" href="{% if post.link %}{{ post.link }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }} {% if post.link %}<span class="text-accent">↗</span>{% endif %}</a>
  </h2>
  <p>{{ post.content }}</p>
	<!-- <p class="lh-condensed">
		<a class="link-primary" title="{{ post.url | prepend: site.baseurl }}" href="{{ post.url | prepend: site.baseurl }}">Continue reading →</a>
	</p> -->
</article>
