// melangue theme

// Color variables
$black: #181818;
// $blue: #2b1bda;
$blue: #0012FF;
$white: #fff;
$almostwhite: #f1f1f1;
$lightgrey: #bbb;
$superlightgrey: #ddd;
$grey: #6e6e6e;

// Config

// Main
$body-background: $almostwhite !default;
$color-body-text: $black !default;
$color-text-accent: $blue !default;
$color-text-light: $grey !default;
$color-text-mute: $lightgrey;
$color-text-supermute: $superlightgrey;
$color-link: $blue !default;


// Code
$color-code: $grey !default;
$code-background: $white !default;


.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
