// melangue theme

// Color variables
$black: #181818;
$headergrey: #6e6e6e;
$blue: #2b1bda;
$white: #fff;
$almostwhite: #f1f1f1;
$grey: grey;
$lightgrey: #bbb;

// Config

// Header
$color-background: $headergrey !default;
$color-dot-accent: $blue !default;
$color-foreground: $white !default;
$color-title: $white !default;

// Main
$color-body-text: $black !default;
$color-text-accent: $blue !default;
$color-text-mute: $lightgrey;

$color-code: $black !default;
$color-nav-link: $blue !default;
$color-primary-link: $blue !default;
$body-background: $almostwhite !default;



.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
